html {
    box-sizing: border-box;

}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    /*border: 1px solid red;*/
}

h1, p {
    text-align: center;
}

p {
    font-size: 1.4em;
}

.index-container {
    text-align: center;
    font-size: 1.5em;
    height: 5%;
    /*outline: 3px solid white;*/
}

.main-content {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*outline: 2px solid yellow;*/
}
.listing,
.detail {
    /*outline: 2px solid magenta;*/
    background-color: whitesmoke;
    color: black;
    height: 100%;
    margin-right: 3em;
    margin-left: 3em;
}

.listing {
    width: 33%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.detail {
    width: 65%;
    padding: 1em;
}
